<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Create New Post</h2>
    <form action="/posts" method="post">
        <input name="username" placeholder="username"> <br><br>
        <textarea placeholder="Write your post" name="content"></textarea> <br>
        <button class="btn">Submit Post</button>
    </form>
</body>
</html>